body{
  font-family: 'Roboto', sans-serif;
  color: black;
}


/* ------------------HEADER------------------ */
/* NAVBAR-TOP */
.navbar-top{
  height: 70px;
  line-height: 70px;
}

.logo img{
  width: 100%;
}

.main-nav, .secondary-nav{
  display: inline-block;
  vertical-align: sub;
}

.secondary-nav{
  margin-left: 100px;
}

.main-nav a, .secondary-nav a{
  color: #031b4f;
  text-decoration: none;
  font-weight: 500;
  margin: 0 6px;
}

.main-nav a:hover, .secondary-nav a:hover{
  color: #006aff;
}

.btn-sign-up{
  color: #006aff !important;
  border: 1px solid #006aff;
  border-radius: 5px;
  padding: 8px 14px;
}

.btn-sign-up:hover{
  color: white !important;
  background-color: #006aff;
}

.btn-mobile{
  background-color: white;
  color: #006aff;
  font-size: 20px;
}

/* JUMBOTRON */
.navbar-hero{
  background-image: url(../img/jumbotron.svg);
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.hero-text{
  color: white;
  line-height: 40px;
}

.hero-text h1{
  font-size: 58px;
  font-weight: bold;
}

.hero-text p{
  font-size: 24px;
}

.hero-form{
  background-color: white;
  border-radius: 6px;
  padding: 20px;
  text-align: center;
}

.hero-form h4, .hero-form h5{
  font-size: 25px;
  font-weight: 700;
}

.hero-form h5{
  color: #006aff;
}

.hero-form form{
  text-align: left;
}

.hero-form form input, .hero-form form button{
  width: 100%;
  margin: 5px auto;
}

.hero-form form input{
  border: 1px solid #e5e8ed;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px;
}

.btn-create{
  background-color: #006aff;
  color: #fff;
  font-weight: 500;
}

.btn-google{
  background-color: white;
  box-shadow: 1px 1px 2px #aaaaaa;
  font-weight: 500;
}

.btn-google span img{
  height: 20px;
  position: absolute;
  left: 50px;
}

.hero-form p{
  font-size: 12px;
  font-weight: 500;
}

.hero-form p a{
  text-decoration: underline;
}


/* ------------------MAIN------------------ */
/* SECTION AFFILIATE */
.affiliate{
  background-color: #f3f5f9;
  text-align: center;
  padding: 50px 0;
}

.affiliate h4{
  color: #5b6987;
  text-transform: uppercase;
}

.affiliate img{
  width: calc(100% / 6);
  padding: 5px;
}

.affiliate a{
  color: #006aff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

@media screen and (max-width: 767px){
  .affiliate img{
    width: 50%;
    padding: 30px;
  }
}

/* SECTION DEPLOY AND SCALE */
.deploy-scale{
  margin: 50px 0;
}

.deploy-scale-top{
  text-align: center;
  margin-bottom: 70px;
}

.deploy-scale-top h2, .designed h2, .love-digital h2, .business-needs h2{
  font-size: 36px;
  text-align: center;
  font-weight: bold;
}

.deploy-scale-top p, .designed p{
  font-size: 20px;
}

.deploy-scale-top p, .deploy-scale p, .designed p{
  color: #5b6987;
  font-weight: 500;
}

@media screen and (min-width: 768px){
  .deploy-scale ul{
    padding-left: 100px;
  }
}

@media screen and (max-width: 767px){
  .deploy-scale ul{
    padding-left: 0;
    margin-bottom: 30px;
  }
}

.deploy-scale li{
  list-style: none;
  border-left: 2px solid #e5e8ed;
  padding: 10px;
  color: #858ea5;
  font-weight: 500;
  font-size: 16px;
}

.prima-riga{
  margin-bottom: 20px;
}

.deploy-scale p{
  font-size: 16px;
}

.deploy-scale img{
  margin-bottom: 10px;
}


/* SECTION DESIGNED FOR DEVELOPERS */
/*      &     SECTION LOVE DIGITAL */
.designed, .love-digital{
  text-align: center;
  background-color: #f3f5f9;
}

.designed-top, .love-digital h2{
  margin: 50px auto;
}

.carosello{
  margin-bottom: 50px;
}

.designed .carosello ol{
  bottom: -20px;
}

.carosello li{
  border: 2px solid #0069ff;
  width: 12px;
  height: 12px;
  margin: auto;
}

.carosello ol .active{
  background-color: #0069ff;
}

.carosello a{
  background-image: none !important;
}

.designed .carosello-img img{
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(3 27 78 / 6%);
}

.designed .carosello-img p{
  width: 80%;
  margin: 30px auto;
  font-size: 16px;
  font-weight: 400;
}

.designed .carosello a{
  color: black;
  height: 20px;
  top: 50%;
  transform: translateY(-300%);
}

.carosello a:hover{
  color: black;
}

.carosello a:focus{
  color: black;
}

@media screen and (max-width: 767px){
  .designed .carosello-img img, .love-digital .carosello-img{
    width: 80%;
  }

  .carosello .left, .carosello .right{
    display: none;
  }
}

@media screen and (min-width: 768px){
  .designed .carosello-img img, .love-digital .carosello-img{
    width: 80%;
  }

  .carosello .left{
    margin-left: -10px;
  }

  .carosello .right{
    margin-right: -10px;
  }
}

@media screen and (min-width: 992px){
  .designed .carosello-img img, .love-digital .carosello-img{
    width: 70%;
  }

  .carosello .left{
    margin-left: 30px;
  }

  .carosello .right{
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px){
  .designed .carosello-img img, .love-digital .carosello-img{
    width: 60%;
  }

  .carosello .left{
    margin-left: 100px;
  }

  .carosello .right{
    margin-right: 100px;
  }
}

/* SECTION BUSINESS NEEDS */
.business-needs{
  padding: 50px 0;
}

.business-needs img{
  margin: 20px 0;
}

.business-needs h5{
  font-size: 18px;
  font-weight: 500;
}

.business-needs p{
  color: #5b6987;
  font-size: 16px;
}

.business-needs a{
  text-decoration: none;
  color: #0069ff;
  font-size: 16px;
  font-weight: 500;
}

/* SECTION AROUND THE WORLD */

/* SECTION LOVE DIGITAL */
.love-digital .carosello-img{
  margin: auto;
  background-color: white;
  height: 350px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(3 27 78 / 6%);
}

.love-digital .carosello a{
  color: black;
}

.love-digital .carosello ol{
  bottom: -60px;
}

.love-digital .carosello-img .item{
  padding: 50px;
}

.love-digital .carosello-img img{
  margin: auto;
  width: 200px;
}

.love-digital .carosello-img span{
  font-weight: bold;
}

.love-digital .carosello-img a{
  color: #0069ff;
  font-weight: 500;
  text-decoration: none;
}

.text-carousel{
  font-size: 20px;
  color: #5b6987;
  margin: 15px auto;
}


/* SECTION STARTED NOW */
.started-now{
  background-image: url(../img/started-now.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.started-now div{
  text-align: center;
  padding: 50px 0;
}

.started-now h3{
  color: white;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 25px;
}

.btn-started{
  color: #0069ff;
  font-weight: 500;
  font-size: 16px;
  padding: 15px 20px;
}



/* ------------------FOOTER------------------ */
