body{
  font-family: 'Roboto', sans-serif;
  color: black;
}


/* ------------------HEADER------------------ */
/* NAVBAR-TOP */
.navbar-top{
  height: 70px;
  line-height: 70px;
}

.logo img{
  width: 100%;
}

.main-nav, .secondary-nav{
  display: inline-block;
  vertical-align: sub;
}

.secondary-nav{
  margin-left: 100px;
}

.main-nav a, .secondary-nav a{
  color: #031b4f;
  text-decoration: none;
  font-weight: 500;
  margin: 0 6px;
}

.main-nav a:hover, .secondary-nav a:hover{
  color: #006aff;
}

.btn-sign-up{
  color: #006aff !important;
  border: 1px solid #006aff;
  border-radius: 5px;
  padding: 8px 14px;
}

.btn-sign-up:hover{
  color: white !important;
  background-color: #006aff;
}

.btn-mobile{
  background-color: white;
  color: #006aff;
  font-size: 20px;
}

/* JUMBOTRON */
.navbar-hero{
  background-image: url(../img/jumbotron.svg);
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.hero-text{
  color: white;
  line-height: 40px;
}

.hero-text h1{
  font-size: 58px;
  font-weight: bold;
}

.hero-text p{
  font-size: 24px;
}

.hero-form{
  background-color: white;
  border-radius: 6px;
  padding: 20px;
  text-align: center;
}

.hero-form h4, .hero-form h5{
  font-size: 25px;
  font-weight: 700;
}

.hero-form h5{
  color: #006aff;
}

.hero-form form{
  text-align: left;
}

.hero-form form input, .hero-form form button{
  width: 100%;
  margin: 5px auto;
}

.hero-form form input{
  border: 1px solid #e5e8ed;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px;
}

.btn-create{
  background-color: #006aff;
  color: #fff;
  font-weight: 500;
}

.btn-google{
  background-color: white;
  box-shadow: 1px 1px 2px #aaaaaa;
  font-weight: 500;
}

.btn-google span img{
  height: 20px;
  position: absolute;
  left: 50px;
}

.hero-form p{
  font-size: 12px;
  font-weight: 500;
}

.hero-form p a{
  text-decoration: underline;
}


/* ------------------MAIN------------------ */
/* SECTION AFFILIATE */
.affiliate{
  background-color: #f3f5f9;
  text-align: center;
  padding: 50px 0;
}

.affiliate h4{
  color: #5b6987;
  text-transform: uppercase;
}

.affiliate img{
  width: calc(100% / 6);
  padding: 5px;
}

.affiliate a{
  color: #006aff;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

@media screen and (max-width: 767px){
  .affiliate img{
    width: 50%;
    padding: 30px;
  }
}
